#head {
    position: relative;
    width: 100%;
}

#field1 {
    top: 0;
    left: 240px;
}

#field2 {
    top: 0;
    left: 300px;
}

#field3 {
    top: 0;
    left: 360px;
}

#field4 {
    top: 60px;
    left: 360px;
}

#field5 {
    top: 120px;
    left: 360px;
}

#field6 {
    top: 180px;
    left: 360px;
}

#field7 {
    top: 240px;
    left: 360px;
}

#field8 {
    top: 240px;
    left: 420px;
}

#field9 {
    top: 240px;
    left: 480px;
}

#field10 {
    top: 240px;
    left: 540px;
}

#field11 {
    top: 240px;
    left: 600px;
}

#field12 {
    top: 300px;
    left: 600px;
}

#field13 {
    top: 360px;
    left: 600px;
}

#field14 {
    top: 360px;
    left: 540px;
}

#field15 {
    top: 360px;
    left: 480px;
}

#field16 {
    top: 360px;
    left: 420px;
}

#field17 {
    top: 360px;
    left: 360px;
}

#field18 {
    top: 420px;
    left: 360px;
}

#field19 {
    top: 480px;
    left: 360px;
}

#field20 {
    top: 540px;
    left: 360px;
}

#field21 {
    top: 600px;
    left: 360px;
}

#field22 {
    top: 600px;
    left: 300px;
}

#field23 {
    top: 600px;
    left: 240px;
}

#field24 {
    top: 540px;
    left: 240px;
}

#field25 {
    top: 480px;
    left: 240px;
}

#field26 {
    top: 420px;
    left: 240px;
}

#field27 {
    top: 360px;
    left: 240px;
}

#field28 {
    top: 360px;
    left: 180px;
}

#field29 {
    top: 360px;
    left: 120px;
}

#field30 {
    top: 360px;
    left: 60px;
}

#field31 {
    top: 360px;
    left: 0px;
}

#field32 {
    top: 300px;
    left: 0px;
}

#field33 {
    top: 240px;
    left: 0px;
}

#field34 {
    top: 240px;
    left: 60px;
}

#field35 {
    top: 240px;
    left: 120px;
}

#field36 {
    top: 240px;
    left: 180px;
}

#field37 {
    top: 240px;
    left: 240px;
}

#field38 {
    top: 180px;
    left: 240px;
}

#field39 {
    top: 120px;
    left: 240px;
}

#field40 {
    top: 60px;
    left: 240px;
}

#inner-field-top-1 {
    top: 60px;
    left: 300px;
}

#inner-field-top-2 {
    top: 120px;
    left: 300px;
}

#inner-field-top-3 {
    top: 180px;
    left: 300px;
}

#inner-field-top-4 {
    top: 240px;
    left: 300px;
}

#inner-field-right-1 {
    top: 300px;
    left: 540px;
}

#inner-field-right-2 {
    top: 300px;
    left: 480px;
}

#inner-field-right-3 {
    top: 300px;
    left: 420px;
}

#inner-field-right-4 {
    top: 300px;
    left: 360px;
}

#inner-field-bottom-1 {
    top: 540px;
    left: 300px;
}

#inner-field-bottom-2 {
    top: 480px;
    left: 300px;
}

#inner-field-bottom-3 {
    top: 420px;
    left: 300px;
}

#inner-field-bottom-4 {
    top: 360px;
    left: 300px;
}

#inner-field-left-1 {
    top: 300px;
    left: 60px;
}

#inner-field-left-2 {
    top: 300px;
    left: 120px;
}

#inner-field-left-3 {
    top: 300px;
    left: 180px;
}

#inner-field-left-4 {
    top: 300px;
    left: 240px;
}

.inner-field {
    border-radius: 50%;
    position: absolute;
    background-color: grey;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.inner-field-inner-border {
    /*margin: 4px;*/
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-self: center;
}

.inner-field-inner {
    /*margin: 0 auto;*/
    align-self: center;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    background-color:rgba(255,255,255,0.9);
}

.field {
    position: absolute;
    border-radius: 50%;
    background-color: grey;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.field-inner-border {
    /*margin: 4px;*/
    border-radius: 50%;
    height: 42px;
    width: 42px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-self: center;
}

.field-inner {
    /*margin: 0 auto;*/
    align-self: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color:rgba(255,255,255,0.9);
}

.field-inner-green {
    background-color: greenyellow;
}

.field-inner-red {
    background-color: red;
}

.field-inner-blue {
    background-color: blue;
}

.field-inner-cyan {
    background-color: cyan;
}

.field-red {
    width: 54px;
    height: 54px;
    background-color: palevioletred;
}

#field-container {
    align-self: center;
    height: 660px;
    width: 660px;
    overflow: hidden;
    position: relative;
    margin-top: 100px;
}

#container {
    margin:0 auto;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
}

.field-inner:hover{
    -webkit-animation: pulse 0.8s ease-in-out infinite alternate;
    animation: pulse 0.8s ease-in-out infinite alternate;
}
@-webkit-keyframes pulse {
    0% {
        background-color: rgba(255,255,255,0.9);
    }
    50% {
        background-color: greenyellow;
    }
    100% {
        background-color: rgba(255,255,255,0.9);
    }
}
@keyframes pulse {
    0% {
        background-color: rgba(255,255,255,0.9);
    }
    50% {
        background-color: greenyellow;
    }
    100% {
        background-color: rgba(255,255,255,0.9);
    }
}