#head {
    position: relative;
    width: 100%;
}

#field1 {
    
    color: bisque;
    position: absolute;
    top: 0;
    left: 240px;
    right: 0;


}

#field2 {
    
    color: bisque;
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;


}

#field3 {
    
    color: bisque;
    position: absolute;
    top: 0;
    left: 360px;
    right: 0;


}

#field4 {
    
    color: bisque;
    position: absolute;
    top: 60px;
    left: 360px;
    right: 0;


}

#field5 {
    
    color: bisque;
    position: absolute;
    top: 120px;
    left: 360px;
    right: 0;


}

#field6 {
    
    color: bisque;
    position: absolute;
    top: 180px;
    left: 360px;
    right: 0;


}


#field7 {
    
    color: bisque;
    position: absolute;
    top: 240px;
    left: 360px;
    right: 0;


}

#field8 {
    
    color: bisque;
    position: absolute;
    top: 240px;
    left: 420px;
    right: 0;


}

#field9 {
    
    color: bisque;
    position: absolute;
    top: 240px;
    left: 480px;
    right: 0;


}
#field10 {
    
    color: bisque;
    position: absolute;
    top: 240px;
    left: 540px;
    right: 0;


}
#field11 {
    
    color: bisque;
    position: absolute;
    top: 240px;
    left: 600px;
    right: 0;


}

#field12 {
    
    color: bisque;
    position: absolute;
    top: 300px;
    left: 600px;
    right: 0;


}

#field13 {
    
    color: bisque;
    position: absolute;
    top: 360px;
    left: 600px;
    right: 0;


}

#field14 {
    
    color: bisque;
    position: absolute;
    top: 360px;
    left: 540px;
    right: 0;


}

#field15 {
    
    color: bisque;
    position: absolute;
    top: 360px;
    left: 480px;
    right: 0;


}

#field16 {
    
    color: bisque;
    position: absolute;
    top: 360px;
    left: 420px;
    right: 0;


}

#field17 {
    
    color: bisque;
    position: absolute;
    top: 360px;
    left: 360px;
    right: 0;


}

#field18 {
    
    color: bisque;
    position: absolute;
    top: 420px;
    left: 360px;
    right: 0;


}

#field19 {
    
    color: bisque;
    position: absolute;
    top: 480px;
    left: 360px;
    right: 0;


}

#field20 {
    
    color: bisque;
    position: absolute;
    top: 540px;
    left: 360px;
    right: 0;


}

#field21 {
    
    color: bisque;
    position: absolute;
    top: 600px;
    left: 360px;
    right: 0;


}

#field22 {
    
    color: bisque;
    position: absolute;
    top: 600px;
    left: 300px;
    right: 0;


}

#field23 {
    
    color: bisque;
    position: absolute;
    top: 600px;
    left: 240px;
    right: 0;


}

#field24 {
    
    color: bisque;
    position: absolute;
    top: 540px;
    left: 240px;
    right: 0;


}

#field25 {
    
    color: bisque;
    position: absolute;
    top: 480px;
    left: 240px;
    right: 0;


}

#field26 {
    
    color: bisque;
    position: absolute;
    top: 420px;
    left: 240px;
    right: 0;


}

#field27 {
    
    color: bisque;
    position: absolute;
    top: 360px;
    left: 240px;
    right: 0;


}

#field28 {
    
    color: bisque;
    position: absolute;
    top: 360px;
    left: 180px;
    right: 0;


}

#field29 {
    
    color: bisque;
    position: absolute;
    top: 360px;
    left: 120px;
    right: 0;


}

#field30 {
    
    color: bisque;
    position: absolute;
    top: 360px;
    left: 60px;
    right: 0;


}

#field31 {
    
    color: bisque;
    position: absolute;
    top: 360px;
    left: 0px;
    right: 0;


}

#field32 {
    
    color: bisque;
    position: absolute;
    top: 300px;
    left: 0px;
    right: 0;


}

#field33 {
    
    color: bisque;
    position: absolute;
    top: 240px;
    left: 0px;
    right: 0;


}

#field34 {
    
    color: bisque;
    position: absolute;
    top: 240px;
    left: 60px;
    right: 0;


}

#field35 {
    
    color: bisque;
    position: absolute;
    top: 240px;
    left: 120px;
    right: 0;


}

#field36 {
    
    color: bisque;
    position: absolute;
    top: 240px;
    left: 180px;
    right: 0;


}

#field37 {
    
    color: bisque;
    position: absolute;
    top: 240px;
    left: 240px;
    right: 0;


}

#field38 {
    
    color: bisque;
    position: absolute;
    top: 180px;
    left: 240px;
    right: 0;


}

#field39 {
    
    color: bisque;
    position: absolute;
    top: 120px;
    left: 240px;
    right: 0;
}

#field40 {

    color: bisque;
    position: absolute;
    top: 60px;
    left: 240px;
    right: 0;


}

.field {
    border-radius: 50%;
    background-color: grey;
    height: 50px;
    width: 50px;
}

.field-inner-border {
    margin: 4px;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.field-inner {
    /*margin: 0 auto;*/
    align-self: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color:rgba(255,255,255,0.9);
}

.field-inner-green {
    background-color: greenyellow;
}


#field-container {
    align-self: center;
    height: 660px;
    width: 660px;
    overflow: hidden;
    position: relative;
    margin-top: 100px;
}

#container {
    margin:0 auto;
    width: 600px;
    height: 600px;
}