#head {
    position: relative;
    width: 100%;
}

.field {
    position: absolute;
    border-radius: 50%;
    background-color: grey;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 5px black;

}

.field-inner-border {
    /*margin: 4px;*/
    border-radius: 50%;
    height: 42px;
    width: 42px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-self: center;
}

.field-inner {
    /*margin: 0 auto;*/
    align-self: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color:rgba(255,255,255,0.9);
}

.field-inner-green {
    background-color: greenyellow;
}

.field-inner-red {
    background-color: orangered;
}

.field-inner-blue {
    background-color: cornflowerblue;
}

.field-inner-cyan {
    background-color: blueviolet;
}

.field-red {
    width: 54px;
    height: 54px;
    background-color: orangered;
}

.field-green {
    width: 54px;
    height: 54px;
    background-color: greenyellow;
}
.field-blue {
    width: 54px;
    height: 54px;
    background-color: cornflowerblue;
}
.field-cyan {
    width: 54px;
    height: 54px;
    background-color: blueviolet;
}

.player {
    height: 32px;
    width: 32px;
    position: absolute;
    z-index: 100;
}

.player-top {
    background-color: greenyellow;
    border-radius: 30%;
}

.player-right {
    background-color: orangered;
    /*border-radius: 50%;*/
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.player-bottom {
    background-color: cornflowerblue;
    /*border-radius: 50%;*/
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.player-left {
    background-color: blueviolet;
    /*clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);*/
    clip-path: polygon(35% 35%, 50% 0, 65% 35%, 100% 50%, 65% 65%, 50% 100%, 35% 65%, 0 50%);
}

.dice {
    background: white url("https://upload.wikimedia.org/wikipedia/commons/2/26/Dice-6-b.svg");
    position: absolute;
    border-radius: 10%;
    width: 60px;
    height: 60px;
    background-size: cover;
    box-shadow: 10px 10px 5px grey;
}

.dice-0 {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);

    animation: dicePulse 1s ease-in-out infinite alternate;
}

.dice-1 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1b/Dice-1-b.svg");
}

.dice-2 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5f/Dice-2-b.svg");
}

.dice-3 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Dice-3-b.svg");
}

.dice-4 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/fd/Dice-4-b.svg");
}

.dice-5 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/08/Dice-5-b.svg");
}

.dice-6 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/26/Dice-6-b.svg");
}


#field-container {
    align-self: center;
    height: 650px;
    width: 650px;
    overflow: hidden;
    position: relative;
    background-color: sandybrown;
    margin: 100px;
    padding: 10px;
    border: solid white;
    box-shadow: 10px 10px 5px grey;
}

#field-and-start-container {
    display: flex;
    align-self: center;
    overflow: hidden;
}

#container {
    /*margin:0 auto;*/
    margin: 0px;
    width: 2048px;
    height: 1350px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

body {
    margin: 0px;
}

.highlight-player {
    animation: playerHighlight 1s ease-in-out infinite alternate;
}

.player-moving {
    animation: playerMovement 0.6s ease-in-out infinite alternate;
    z-index: 110;
}

@keyframes playerMovement {
    50% { transform: scale(1.2, 1.1) ; }
}

@keyframes dicePulse {
    from { transform: scale(1.0, 1.0);}
    50% { transform: scale(1.1, 1.1); }
    to { transform: scale(1.0, 1.0); }
}

@keyframes playerHighlight {
    from { transform: scale(1, 1) rotate(0deg); box-shadow: 0 0 9px 0 black; }
    50% { background-color: #eee;  transform: scale(1.1, 1.1) rotate(15deg); box-shadow: 0 0 18px 3px grey; }
    to { transform: scale(1, 1) rotate(0deg); box-shadow: 0 0 9px 0 black; }
}


/**
Menu
 */

#menu-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: sandybrown;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    background: url("img/madn-logo.png");
    width: 300px;
    height: 301px;
    background-size: cover;
    /*margin:auto;*/
    margin-bottom: 30px;
}

#title {
    font-family: "Courier New", Courier, "Liberation Mono", serif;
    font-size: 50px;
    color: black;
    margin-bottom: 80px;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 200px;*/
    flex-direction: column;

}

.menu-item {
    border: black solid;
    background-color: white;
    border-radius: 20%;
    width: 200px;
    height: 50px;
    margin: 10px;

    font-family: "Times New Roman", "Liberation Serif", serif;
    font-size: 20px;
    color: black;

    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}