
#field1 {
    margin-top: 0;
    margin-left: 240px;
}

#field2 {
    margin-top: 0;
    margin-left: 300px;
}

#field3 {
    margin-top: 0;
    margin-left: 360px;
}

#field4 {
    margin-top: 60px;
    margin-left: 360px;
}

#field5 {
    margin-top: 120px;
    margin-left: 360px;
}

#field6 {
    margin-top: 180px;
    margin-left: 360px;
}

#field7 {
    margin-top: 240px;
    margin-left: 360px;
}

#field8 {
    margin-top: 240px;
    margin-left: 420px;
}

#field9 {
    margin-top: 240px;
    margin-left: 480px;
}

#field10 {
    margin-top: 240px;
    margin-left: 540px;
}

#field11 {
    margin-top: 240px;
    margin-left: 600px;
}

#field12 {
    margin-top: 300px;
    margin-left: 600px;
}

#field13 {
    margin-top: 360px;
    margin-left: 600px;
}

#field14 {
    margin-top: 360px;
    margin-left: 540px;
}

#field15 {
    margin-top: 360px;
    margin-left: 480px;
}

#field16 {
    margin-top: 360px;
    margin-left: 420px;
}

#field17 {
    margin-top: 360px;
    margin-left: 360px;
}

#field18 {
    margin-top: 420px;
    margin-left: 360px;
}

#field19 {
    margin-top: 480px;
    margin-left: 360px;
}

#field20 {
    margin-top: 540px;
    margin-left: 360px;
}

#field21 {
    margin-top: 600px;
    margin-left: 360px;
}

#field22 {
    margin-top: 600px;
    margin-left: 300px;
}

#field23 {
    margin-top: 600px;
    margin-left: 240px;
}

#field24 {
    margin-top: 540px;
    margin-left: 240px;
}

#field25 {
    margin-top: 480px;
    margin-left: 240px;
}

#field26 {
    margin-top: 420px;
    margin-left: 240px;
}

#field27 {
    margin-top: 360px;
    margin-left: 240px;
}

#field28 {
    margin-top: 360px;
    margin-left: 180px;
}

#field29 {
    margin-top: 360px;
    margin-left: 120px;
}

#field30 {
    margin-top: 360px;
    margin-left: 60px;
}

#field31 {
    margin-top: 360px;
    margin-left: 0px;
}

#field32 {
    margin-top: 300px;
    margin-left: 0px;
}

#field33 {
    margin-top: 240px;
    margin-left: 0px;
}

#field34 {
    margin-top: 240px;
    margin-left: 60px;
}

#field35 {
    margin-top: 240px;
    margin-left: 120px;
}

#field36 {
    margin-top: 240px;
    margin-left: 180px;
}

#field37 {
    margin-top: 240px;
    margin-left: 240px;
}

#field38 {
    margin-top: 180px;
    margin-left: 240px;
}

#field39 {
    margin-top: 120px;
    margin-left: 240px;
}

#field40 {
    margin-top: 60px;
    margin-left: 240px;
}

#inner-field-top-1 {
    margin-top: 60px;
    margin-left: 300px;
}

#inner-field-top-2 {
    margin-top: 120px;
    margin-left: 300px;
}

#inner-field-top-3 {
    margin-top: 180px;
    margin-left: 300px;
}

#inner-field-top-4 {
    margin-top: 240px;
    margin-left: 300px;
}

#inner-field-right-1 {
    margin-top: 300px;
    margin-left: 540px;
}

#inner-field-right-2 {
    margin-top: 300px;
    margin-left: 480px;
}

#inner-field-right-3 {
    margin-top: 300px;
    margin-left: 420px;
}

#inner-field-right-4 {
    margin-top: 300px;
    margin-left: 360px;
}

#inner-field-bottom-1 {
    margin-top: 540px;
    margin-left: 300px;
}

#inner-field-bottom-2 {
    margin-top: 480px;
    margin-left: 300px;
}

#inner-field-bottom-3 {
    margin-top: 420px;
    margin-left: 300px;
}

#inner-field-bottom-4 {
    margin-top: 360px;
    margin-left: 300px;
}

#inner-field-left-1 {
    margin-top: 300px;
    margin-left: 60px;
}

#inner-field-left-2 {
    margin-top: 300px;
    margin-left: 120px;
}

#inner-field-left-3 {
    margin-top: 300px;
    margin-left: 180px;
}

#inner-field-left-4 {
    margin-top: 300px;
    margin-left: 240px;
}

#start-player-top-1 {
    margin-top: 20px;
    margin-left: 320px;
}

#start-player-top-2 {
    margin-top: 20px;
    margin-left: 380px;
}

#start-player-top-3 {
    margin-top: 20px;
    margin-left: 440px;
}

#start-player-top-4 {
    margin-top: 20px;
    margin-left: 500px;
}

#start-player-right-1 {
    margin-top: 320px;
    margin-left: 800px;
}

#start-player-right-2 {
    margin-top: 380px;
    margin-left: 800px;
}

#start-player-right-3 {
    margin-top: 440px;
    margin-left: 800px;
}

#start-player-right-4 {
    margin-top: 500px;
    margin-left: 800px;
}

#start-player-bottom-1 {
    margin-top: 800px;
    margin-left: 320px;
}

#start-player-bottom-2 {
    margin-top: 800px;
    margin-left: 380px;
}

#start-player-bottom-3 {
    margin-top: 800px;
    margin-left: 440px;
}

#start-player-bottom-4 {
    margin-top: 800px;
    margin-left: 500px;
}

#start-player-left-1 {
    margin-top: 320px;
    margin-left: 20px;
}

#start-player-left-2 {
    margin-top: 380px;
    margin-left: 20px;
}

#start-player-left-3 {
    margin-top: 440px;
    margin-left: 20px;
}

#start-player-left-4 {
    margin-top: 500px;
    margin-left: 20px;
}

#dice-top {
    margin-top: 15px;
    margin-left: 200px;
}

#dice-right {
    margin-top: 200px;
    margin-left: 805px;
}

#dice-bottom {
    margin-top: 800px;
    margin-left: 600px;
}

#dice-left {
    margin-top: 600px;
    margin-left: 15px;
}

#return-to-menu {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b2/Hamburger_icon.svg");
    background-size: cover;
}